@model IEnumerable<FirstApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" button type="button" class="btn btn-outline-primary" style="font-size: 17px;"> Create New </a>
</p>
<table class="table">
    <thead class="table-primary">
        <tr>
            <th>
                <strong style="color: black;">
                @Html.DisplayNameFor(model => model.Name)
           </strong> </th>
            <th>
                <strong style="color: black;">
                @Html.DisplayNameFor(model => model.Age)
                </strong>
            </th>
            <th>
                <strong style="color: black;">
                @Html.DisplayNameFor(model => model.Salary)
                </strong>
            </th>
            <th>
                <strong style="color: black;">
                @Html.DisplayNameFor(model => model.Department)
                </strong>
            </th>
            <th>
                <strong style="color: black;">
                 Gender
                </strong>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm" style="font-size: 14px;"> Update </a>
                    <span style="margin-right: 5px;"></span>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" style="font-size: 14px;">Details</a>
                    <span style="margin-right: 5px;"></span>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="font-size: 14px;">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
